<div class="centered_box">
<h1>What is Magnet</h1>
<div class="box">
<p>Magnet aims to be a social sentiment analysis tool.</p>
<p>It classifies tweets (from a Twitter query) or plain text as positive or negative, if sentiment is found. Otherwise, the text is mapped as objective.</p>
</div>

<h1>How Magnet works</h1>
<div class="box">
<p>Magnet uses a Naive Bayes classifier to evaluate whose class fits better given a set of features exctracted by the submitted text (from query result or plain text.) </p>
</div>


<h1>How tweet can be considered objective?</h1>
<div class="box">
<p>
A tweet can be considered objective if it does not contain a polar word. 
Polar words are special words which expresses (or can express) a sentiment.
</p>
</div>
</div>