<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<meta name="keywords" content="social, sentiment analysis">
	<meta name="author" content="Francesco Bruni">
	<meta http‐equiv="Content‐Type" content="text/html; charset=UTF‐8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<title>Magnet: Internal server error</title>
</head>

<body>
	<header>
	<div>
		<table>
		<tr>
		<td class="col">
			<img alt="magnet_logo" src="{{ STATIC_URL }}images/logo_magnet.png" />
		<td>
		</tr>
		</table>
	</div>
	</header>
	<div>
	<section id="content">
		<h1 class="errorMessage">500 Internal Server Error</h1>
	</section>
	</div>
</body>
</html>
